__pycache__/
*.pyc
.venv/
venv/
.env

credentials.json
token.json
*.key
*.pem

*.out
*.ptu
*.ht3
*.pt3
*.t3r
*.t2r
*.jpg
*.jpeg
*.csv

*.dll
*.so
*.dylib

.DS_Store
.vscode/
.idea/
.venv/

*.pdf
*.docx
*.xlsx
private/
sensitive/

# Secrets
.env
credentials.json
token.json
*.key
*.pem

# Local environments
.venv/
